.footer {
    background: rgb(1, 10, 19);
    padding: 1rem 2rem;
}

.footer__container {
    max-width: 1000px;
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 10px;
}

.footer__text {
    color: white;
    margin-top: 30px;
}

.footer_logo {
    max-width: 75px;
    max-height: 75px;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */

@media screen and (min-width: 769px) and (max-width: 999px) {
    .footer__text {
        color: white;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .footer__text {
        font-size: 0.9rem;
        color: white;
    }
} 

@media screen and (max-width: 599px) {
    .footer__text {
        font-size: 0.9rem;
        color: white;
    }
    
}