.header {
    background-color: rgb(1, 10, 19);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
}

.header__logo {
    font-weight: 500;
    color: #C89B3C;
    font-weight: 550;
    max-width: 150px;
    max-height: 150px;
}

.header__logo:hover {
    color: #C89B3C;
}

.header__link {
    color: #F0E6D2;
    font-family: 'Bellefair-regular';
    font-weight: 400;
    font-size: 18px;
    font-weight: bold;
}


.header__link:hover {
    color: #C89B3C;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */

@media screen and (max-width: 599px) {
    .header__logo {
        font-size: 1rem;
    }
    
    .header__link {
        font-size: 0.9rem;
    }
}